body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-around;
    margin-top: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.grid {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    display: grid;
}

.gridItem {
    background-color: white;
    border: 1px solid rgba(245, 245, 245, 0.863);
}


h1 {
    font-size: 48px;
    color: rgb(243, 70, 57);
}
